<nav class="menu-container" close *ngIf="isAdminMode">
  <a style="cursor: pointer" class="closeBtn" (click)="onCloseMenu()">
    <svg class="close-icon" viewBox="0 0 100 100">
      <use xlink:href="../../assets/img/times.svg#close-icon"></use>
    </svg>
  </a>
  <ul class="menu">
    <li class="menu__item"><a [routerLink]="'/'" 
      style="text-decoration: none; color: white;">Home</a></li>
    <li class="menu__item"><a [routerLink]="'/dashboard'" 
      style="text-decoration: none; color: white;">Dashboard</a></li>
    <li class="menu__item"><a [routerLink]="['view-all-users']" 
      style="text-decoration: none; color: white;">View all users</a></li>
    <li class="menu__item"><a [routerLink]="['edit', 'add-prize']" 
      style="text-decoration: none; color: white;">Add Prizes</a></li>
    <li class="menu__item"><a [routerLink]="['edit', 'competition']" 
      style="text-decoration: none; color: white;">Edit Competitions</a></li>
    <li class="menu__item"><a [routerLink]="['edit', 'photo-roll']" 
      style="text-decoration: none; color: white;">Edit Photo Roll</a></li>
    <li class="menu__item"><a [routerLink]="['edit', 'sponsors']" 
      style="text-decoration: none; color: white;">Edit Sponsors</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
