<section>
  <div></div>
</section>

<div class="container">
  <div class="row py-5 d-felx justify-content-center">
    <div class="col-sm-8 col-12 fade-in text-center">
      <h2>The ASU Racing Team</h2>
      <p>We are a student organization managed mostly by engineering students and supervised 
        by our professors at the faculty of engineering Ain-Shams university.</p>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm-6 col-12 fade-in">
      <h2>VISION</h2>

      <p>
        our main vision to keep up with the immensely accelerated innovation in
        automotive technology worldwide by researching,learning and applying
        this knowledge to revive the automotive industry in egypt
      </p>
    </div>
    <div class="col-sm-6 col-12" ng-reflect-ng-class="">
      <img
        alt="Competition Photo"
        class="w-100"
        src="assets/img/pres.png"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5">
    <div class="col-sm-6 col-12 fade-in">
      <h2>MISSION</h2>

      <p>
        out mission is to establish an advanced egyption research entity with
        divisions concerned with automotive engineering and mobile robotics. so
        this initiative is to create youth leaders with the passion and the
        skills required for this mission.
      </p>

      <p>
        Believing in this , we decided to take the initiative and take a step
        towards building the startig block. transferring knowledge and
        application , aiding the youth and start reviving the automotive and
        mobile robotics industries , technologies , and business. this will help
        students plan and develop thier careers at an early stage .
      </p>
    </div>
    <div class="col-sm-6 col-12 order-first" ng-reflect-ng-class="order-first">
      <img
        alt="Competition Photo"
        class="w-100"
        src="assets/img/abohashima.jpg"
      />
    </div>
  </div>
</div>
