/*FADE-IN EFFECT. PLEASE DO NOT REMOVE SO THE COMPONENT IS FADED IN WHEN IT IS LOADED*/
@import "../../shared/fade-in.css";




@media only screen and (max-width: 75em) {
 .container {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
 .container {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
 .container {
    font-size: 46%;
  }
}
@media only screen and (min-width: 112.5em) {
 .container {
    font-size: 75%;
  }
}

.heading-tertiary {
  /*font-size: 3rem;*/
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    /*font-size: 2rem;*/
    font-size: 2em;
  }
}

.paragraph {
  font-size: 1.5em;
}
.paragraph:not(:last-child) {
  margin-bottom: 3em;
}

@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
  }
  img{
    margin: 5px;
  }
}

h2
{
  font-size: 55px;
  color: #B21212;
}
.u-red {
  color: #B21212;
}

/* div
{
  width: auto;
} */

 p
{
  /* font-size: 15px; */
  font-weight: 500;
}


