<footer class="footer">

  <!-- Footer Links -->
  <div class="container">

    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-3">
        <p style="line-height: 1.7rem;"><a href="mailto:info@asuracingteam.org">info@asuracingteam.org</a></p>
      </div>
      <!-- Grid column -->

    </div>

    <!-- Grid row-->
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12 flex-center">

        <div class="mb-3 mt-3 flex-center">
          <div class="social-links">
              <a target="_blank" href="https://www.facebook.com/ASU.Racing.Team" class="social-links__link">
                <svg viewBox="0 0 100 100" class="social-links__icon face-icon">
                  <use xlink:href="#face-icon"></use>
                </svg>
              </a>
              <a target="_blank" href="https://www.linkedin.com/company/asu-racing-team" class="social-links__link">
                <svg viewBox="0 0 100 100" class="social-links__icon linkedin-icon">
                  <use xlink:href="#linkedin-icon"></use>
                </svg>
              </a>
              <a target="_blank" href="https://www.youtube.com/user/asuracingteam" class="social-links__link">
                <svg viewBox="0 0 130 100" class="social-links__icon youtube-icon">
                  <use xlink:href="#youtube-icon"></use>
                </svg>
              </a>
              <a target="_blank" href="https://www.instagram.com/asu.rt" class="social-links__link">
                <svg viewBox="0 0 100 100" class="social-links__icon insta-icon">
                  <use xlink:href="#insta-icon"></use>
                </svg>
              </a>
            </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">2020 IT team at ASU Racing Team
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
