<footer class="footer">

  <div class="img-container">
    <img src="../assets/img/ASURT_LOGO_B-min.png" alt="ASURT logo" class="img">
    <div class="footer-container">

      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 flex-center">

          <div class="mb-3 flex-center">
            <div class="social-links">
              <a target="_blank" href="https://www.facebook.com/ASU.Racing.Team" class="social-links__link">
                <svg viewBox="0 0 100 100" class="social-links__icon face-icon">
                  <use xlink:href="#face-icon"></use>
                </svg>
              </a>
              <a target="_blank" href="https://www.linkedin.com/company/asu-racing-team" class="social-links__link">
                <svg viewBox="0 0 100 100" class="social-links__icon linkedin-icon">
                  <use xlink:href="#linkedin-icon"></use>
                </svg>
              </a>
              <a target="_blank" href="https://www.youtube.com/user/asuracingteam" class="social-links__link">
                <svg viewBox="0 0 130 100" class="social-links__icon youtube-icon">
                  <use xlink:href="#youtube-icon"></use>
                </svg>
              </a>
              <a target="_blank" href="https://www.instagram.com/asu.rt" class="social-links__link">
                <svg viewBox="0 0 100 100" class="social-links__icon insta-icon">
                  <use xlink:href="#insta-icon"></use>
                </svg>
              </a>
            </div>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0">
        <p class="footer-email"><a href="mailto:info@asuracingteam.org">info@asuracingteam.org</a></p>
      </div>

    </div>
  </div>
  <!-- Footer Links -->
  <div class="img-container">
    <img src="./assets/img/formula.png" alt="FORMULA logo" class="img">
    <img src="./assets/img/Shell.png" alt="SHELL logo" class="img">
    <img src="./assets/img/ROV.png" alt="ROV logo" class="img">
    <img src="./assets/img/everlogo.png" alt="EVER logo" class="img">
  </div>

  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-2">2020 IT team at ASU Racing Team
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
