<footer class="footer">

  <div class="img-container">
    <img src="../assets/img/footer.png" alt="ASURT logo" class="img">
    <div class="mt-3 mb-3 flex-center">
        <!-- Grid column -->
        <div class="social-links">
          <a target="_blank" href="https://www.facebook.com/ASU.Racing.Team" class="social-links__link">
            <svg viewBox="0 0 100 100" class="social-links__icon face-icon">
              <use xlink:href="#face-icon"></use>
            </svg>
          </a>
          <a target="_blank" href="https://www.linkedin.com/company/asu-racing-team" class="social-links__link">
            <svg viewBox="0 0 100 100" class="social-links__icon linkedin-icon">
              <use xlink:href="#linkedin-icon"></use>
            </svg>
          </a>
          <a target="_blank" href="https://www.youtube.com/user/asuracingteam" class="social-links__link">
            <svg viewBox="0 0 130 100" class="social-links__icon youtube-icon">
              <use xlink:href="#youtube-icon"></use>
            </svg>
          </a>
          <a target="_blank" href="https://www.instagram.com/asu.rt" class="social-links__link">
            <svg viewBox="0 0 100 100" class="social-links__icon insta-icon">
              <use xlink:href="#insta-icon"></use>
            </svg>
          </a>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <div class="d-flex flex-column">
      <div class="row d-flex align-items-center justify-content-center mb-2">
        <svg viewBox="0 0 100 100" class="social-links__icon">
          <use xlink:href="#at-icon"></use>
        </svg>
        <p class="footer-email"><a href="mailto:info@asuracingteam.org">info@asuracingteam.org</a></p>
      </div>

      <div class="row d-flex text-center justify-content-center">
        <svg viewBox="0 0 100 100" class="social-links__icon">
          <use xlink:href="#map-icon"></use>
        </svg>
        <p style="line-height: 1.7rem; font-size: 0.8em">1 Elsarayat St., Abbaseya, 11517 Cairo, Egypt</p>
      </div>
    </div>

  </div>
  <!-- Footer Links -->
  <div class="logos-container">
    <img src="./assets/img/formula.png" alt="FORMULA logo" class="comp_logo">
    <img src="./assets/img/Shell.png" alt="SHELL logo" class="comp_logo">
    <img src="./assets/img/ROV.png" alt="ROV logo" class="comp_logo">
    <img src="./assets/img/everlogo.png" alt="EVER logo" class="comp_logo">
  </div>

  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-2">2020 IT team at ASU Racing Team</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
