<!-- <main style="background-color: #f0f0f0;"> -->
    <main>

        <!-- Competition Name and the Logo -->
        <div class="container">

            <div class="row py-2" style="margin-top: 220px;">
                <div class="col-12 py-2 centered">
                    <img class="p-1 rounded center" src="assets/img/everlogo.png" height="160px"
                        width="160px" alt="Competion Logo"  #logo>
                    <h3 class="d-inline-block mt-2 ever align-middle " style="font-size: 3.5rem;">EVER</h3>
                    <hr>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row py-5 ">
                <div class="col-sm-6 col-12">
                    <p class="text-break text-justify paragraph">with the help of the Academy of Scientific Research & Technology,Previous members of ASU racing team organized EVER.<br>
                      The Electric Vehicle Rally(EVER) is an energy efficiency competition. EVER is giving young engineers the opportunity to challenge and asses their technical and creative skills in designing, building and developing an urban concept of an electric vehicle.
                    </p>
                </div>
                <div class="col-sm-6 col-12 ">
                    <img class="w-100" src="assets/img/IT (3)/EVER.jpg" alt="Competition Photo" style="border: #800000;">
                </div>
            </div>
        </div>





        <div class="container">
            <div class="row py-5">
                <div class="col-sm-6 col-12 ">
                    <img class="w-100" src="assets/img/IT (3)/EVER_2.jpg" alt="Competition Photo" style="border: #800000;">
                </div>
                <div class="col-sm-6 col-12">
                    <p class="text-break text-justify paragraph">The main mission of this competition is to create more interdisciplinary engineering graduates with the needed knowledge, hands on skills and experience in designing, manufacturing  and operating electric vehicles. This is a step needed to create the required human resources to power an electric vehicle industry in Egypt.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row py-5">
                <div class="col-sm-6 col-12">
                    <p class="text-break text-justify paragraph">Empowerment of an electric vehicle industry in Egypt could make a huge positive impact on the sustainable development strategy for 2030 vision.</p>
                </div>
                <div class="col-sm-6 col-12 ">
                    <img class="w-100" src="assets/img/IT (3)/EVER_3.jpg" alt="Competition Photo" style="border: #800000;">
                </div>
            </div>
        </div>

        <!-- <div *ngIf="photorollId"> -->
            <app-photo-roll *ngIf="photorollId" [photorollId]=photorollId></app-photo-roll>
        <!-- </div> -->


        <!-- <div class="container">
            <div class="row py-5">
                <div class="col-sm-6 col-12 ">
                    <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
                </div>
                <div class="col-sm-6 col-12">
                    <p class="text-break text-justify paragraph">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.</p>
                </div>
            </div>
        </div> -->



        <div *ngIf="awards">
            <app-competition-awards [compColor]=competitionColor [awards]=awards></app-competition-awards>
        </div>

    </main>
