/*FADE-IN EFFECT. PLEASE DO NOT REMOVE SO THE COMPONENT IS FADED IN WHEN IT IS LOADED*/
@import "../../shared/fade-in.css";

/*Margin to push the section away from the header*/
.explore-section {
  margin-top: 11rem;
}
.bg-dark{
    box-shadow: 0 2em 4em rgba(0, 0, 0, 0.4);
    background-color:black;
}
.partners
{
    color: #B21212;
}

.transform
{
    transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
}

.card
{
    width: 70%;
    height: auto;
    margin: auto;
    transform: skewX(-10deg);
    background-color: rgb(238, 244, 247);
}

.spons_img img
{
    margin: 0 auto;
    padding: 17%;
    height: 100%;
    width: 100%;
}

.spons_img
{
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;

}


@media only screen and (min-width: 992px) and (max-width:1200px) {
    .card
    {
        width: 70%;
    }
    .spons_img {
        width: 150px;
        height: 150px;
    }
    .spons_desc h3
    {
        font-size: 1.5em;
    }
    .spons_desc p
    {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
    .card{
        width: 70%;
    }
    .spons_img {
        width: 130px;
        height: 130px;

    }
    .spons_desc h3
    {
        font-size: 1.4em;
    }
    .spons_desc p
    {
        font-size: 1em;
    }
}

@media only screen and (max-width:768px) {    /* for xs (phones) */
    .card{
        width: 80%;
        transform: skewX(-5deg);
    }
    .transform
    {
        transform: skewX(5deg);
    }
    .spons_img {
        width: 130px;
        height: 130px;
        margin: auto;
    }
    .spons_desc h3
    {
        margin-top: 1em;;
        font-size: 1.2em;
    }
    .spons_desc p
    {
        font-size: 1em;
    }
    h2
    {
        font-size: 1.5em;
    }
}

/*headings*/

.heading-secondary {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #b21212, #c70039);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2em;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3em;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5em;
  }
}

.heading-tertiary {
  /*font-size: 3rem;*/
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    /*font-size: 2rem;*/
    font-size: 2em;
  }
}

/* utility classes */

.u-margin-top-minus-1 {
  margin-top: -2.5em;
}

.u-margin-top-minus-2 {
  margin-top: -3.5em;
}

.u-margin-top-minus-3 {
  margin-top: -8em;
}

.u-margin-top-minus-4 {
  margin-top: -12em;
}
.u-margin-top-minus {
  margin-top: -6em;
}

.u-margin-top-minus-5 {
  margin-top: -2.8em;
}

@media only screen and (max-width: 60em) {
  .u-margin-top-minus {
    margin-top: -1em;
  }
  .u-margin-top-minus-2 {
    margin-top: -1em;
  }

  .u-margin-top-minus-5 {
    margin-top: -1em;
  }

}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 0.5em !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4em !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2em;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8em !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5em;
  }
}

.u-margin-top-big {
  margin-top: 0em !important;
}

.u-margin-top-huge {
  margin-top: 10em !important;
}

.u-padding-top-big {
  padding-top: 6em !important;
  margin-left: 9em !important;
  margin-top: 3em !important;
}

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 49em) {
  .u-padding-top-big {
    padding-top: 4em !important;
    margin-left: 2em !important;
  }
}

@media only screen and (max-width: 30em) {
  .u-padding-top-big {
    padding-top: 0em !important;
    margin-left: 2em !important;
  }
}

.paragraph {
  font-size: 2em;
}
.paragraph:not(:last-child) {
  margin-bottom: 3em;
}

@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.5em;
  }
}


.SponsorsAlt {
  margin-top: -2em;
  padding: 2em;
  padding-left: 6em;
  background-color: rgb(238, 244, 247);
}

.SponsorsAlt__Mobile {
  margin-top: -2em;
  padding: 1.5em;
  padding-left: 1.5em;

  background-color: rgb(238, 244, 247);
}
@media only screen and (max-width: 75em) {
  .SponsorsAlt {
    padding: 2.5em !important;


  }

}

@media only screen and (max-width: 35em) {
  .SponsorsAlt {
   /* padding: 2.5em !important;*/
    display: none;

  }

}

  @media only screen and (min-width: 35em) {
    .SponsorsAlt__Mobile {
      /*padding: 2.5em !important;*/
      display: none;

    }
  }

.logo__fullWidth {
  width: 100%;
}

.logo__halfWidth {
  width: 50%;
}

.logo {
  width: 80%;
}

