
<div *ngIf="!AltSponsor">
<div class="container text-center min-vh-100" *ngIf="isGettingSponsors">
  <app-loading-spinner></app-loading-spinner>
  <p style="font-size: 4rem" class="text-center text-primary">Loading...</p>
</div>
<section id="explore-section" class="explore-section fade-in" [ngStyle]="{'display': !isGettingSponsors? 'block': 'none'}">
  <h2 class="text-center mt-3 partners" style="margin-top: 20px;"> OUR PARTNERS IN SUCCESS </h2>
   <div class="card my-5" *ngFor = "let sponsor of sponsorsInfo">
      <div class="row pt-5 pb-4 pl-5 pr-5">
          <div class="col-sm-4 transform">
              <div class="spons_img">
                  <img [src]=sponsor.sani alt="logo">
              </div>
          </div>
          <div class="col-sm-8 transform text-center">
              <div class="spons_desc">
                  <h3 class="partners" >{{sponsor.name}}</h3>
                  <p>{{sponsor.desc}}</p>
              </div>
          </div>
      </div>
   </div>
</section>
</div>


<!-- *************************************** -->

<div *ngIf= "AltSponsor">
<div  class="SponsorsAlt" >


  <div class="u-center-text ">
    <h2 class="  heading-secondary  mt-3" style="margin-bottom: 60px; margin-top: 70px;">Our Sponsors</h2>
  </div>



  <div class="row u-margin-bottom-medium">
    <div class="col">
   <img class="logo u-margin-top-minus-2 " src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo mt-3 " src="../../../../assets/img/ADES.png" alt="ADES">

    </div>


    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/SIEMIENS.svg" alt="SIEMIENS">
    </div>
  </div>

    <div class="row">
    <div class="col">
      <img class="logo" src="../../../../assets/img/Shell.png" alt="SHELL">
    </div>

    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/GIZA.png" alt="GIZASYSTEMS">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/KIMA.png" alt="KIMA">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/emar.png" alt="EMAR">
    </div>
  </div>
</div>

<div class="SponsorsAlt__Mobile">


  <div class="u-center-text ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row ">
    <div class="col">
   <img class="logo mt-2" src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col ">
      <img class="logo__fullWidth mt-4" src="../../../../assets/img/ADES.png" alt="TOYOTA">

    </div>
  </div>



    <div class="row mb-3">
    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/SIEMIENS.svg" alt="TOYOTA">
    </div>
    <div class="col">
      <img class="logo" src="../../../../assets/img/Shell.png" alt="TOYOTA">
    </div>
  </div>

    <div class="row ">


    <div class="col">
      <img class="logo" src="../../../../assets/img/KIMA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/emar.png" alt="TOYOTA">
    </div>
  </div>

  <div class="row ml-3 u-margin-top-minus-5 ">
    <div class="col">
      <img class="logo mt-5 img-fluid mx-auto" src="../../../../assets/img/GIZA.png" alt="TOYOTA">
    </div>

  </div>

</div>

</div>
