/*FADE-IN EFFECT. PLEASE DO NOT REMOVE SO THE COMPONENT IS FADED IN WHEN IT IS LOADED*/
@import "../../fade-in.css";
/*Margin to push the section away from the header*/
.explore-section {
  margin-top: 11rem;
}
.bg-dark{
    box-shadow: 0 2em 4em rgba(0, 0, 0, 0.4);
    background-color:black;
}
.partners
{
    color: #B21212;
}

.transform
{
    transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
}

.card
{
    width: 70%;
    height: auto;
    margin: auto;
    transform: skewX(-10deg);
    background-color: rgb(238, 244, 247);
}

.spons_img img
{
    margin: 0 auto;
    padding: 17%;
    height: 100%;
    width: 100%;
}

.spons_img
{
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;

}


@media only screen and (min-width: 992px) and (max-width:1200px) {
    .card
    {
        width: 70%;
    }
    .spons_img {
        width: 150px;
        height: 150px;
    }
    .spons_desc h3
    {
        font-size: 1.5em;
    }
    .spons_desc p
    {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
    .card{
        width: 70%;
    }
    .spons_img {
        width: 130px;
        height: 130px;

    }
    .spons_desc h3
    {
        font-size: 1.4em;
    }
    .spons_desc p
    {
        font-size: 1em;
    }
}

@media only screen and (max-width:768px) {    /* for xs (phones) */
    .card{
        width: 80%;
        transform: skewX(-5deg);
    }
    .transform
    {
        transform: skewX(5deg);
    }
    .spons_img {
        width: 130px;
        height: 130px;
        margin: auto;
    }
    .spons_desc h3
    {
        margin-top: 1em;;
        font-size: 1.2em;
    }
    .spons_desc p
    {
        font-size: 1em;
    }
    h2
    {
        font-size: 1.5em;
    }
}
