/*FADE-IN EFFECT. PLEASE DO NOT REMOVE SO THE COMPONENT IS FADED IN WHEN IT IS LOADED*/
@import "../../../shared/fade-in/fade-in.css";

@media only screen and (max-width: 75em) {
  .container {
     font-size: 56.25%;
   }
 }
 @media only screen and (max-width: 56.25em) {
  .container {
     font-size: 50%;
   }
 }
 @media only screen and (max-width: 37.5em) {
  .container {
     font-size: 46%;
   }
 }
 @media only screen and (min-width: 112.5em) {
  .container {
     font-size: 75%;
   }
 }


.formula{
    color: #800000;
}

.main{
    position: absolute;
    margin-top: 0px;
}

/* p{
    margin-top: 20px;
    margin-bottom: 20px;;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
} */

#logo{
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.container{
  margin-top: 20px;
  margin-bottom: 15px;
}


@media only screen and (min-width: 500px) {
    /* p{
        font-size: 1.25rem;
        color: black;
    } */
    h3{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 500px) {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .centered{
    text-align: center;
  }
}

.paragraph {
  font-size: 1.5em;
}
.paragraph:not(:last-child) {
  margin-bottom: 3em;
}

@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
  }
}

p
{
  /* font-size: 15px; */
  font-weight: 500;
}
li
{
  /* font-size: 15px; */
  font-weight: 500;
}

img{
  margin: 0 20px;
}
/*UTILITIES*/
.img-border {
  /* border-radius: 2px !important;
  border: 0.3rem solid #800000 !important; */
}
