<!-- <main style="background-color: #e4e4e4;"> -->
<main>

    <!-- Competition Name and the Logo -->
    <div class="container">

        <div class="row py-2" style="margin-top: 220px;">
            <div class="col-12 py-2">
                <img class="p-1 rounded margin center" src="assets/img/FormulaStudentUK.png" height="160px"
                    width="160px" alt="Competion Logo"  #logo>
                <h3 class="d-inline-block ml-5 mt-2 formula align-middle" style="font-size: 3.5rem;">Formula</h3>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5 ">
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">Formula Student is a student engineering competition held annually in the UK. Student teams from around the world design, build, test, and race a small-scale formula style racing car. The cars are judged on a number of criteria as listed below. It is run by the Institution of Mechanical Engineers and uses the same rules as the original Formula SAE with supplementary regulations.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div>

    <div *ngIf="awards">
        <app-competition-awards [compColor]=competitionColor [awards]=awards></app-competition-awards>
    </div>



    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">There are two entry classes in Formula Student, designed to allow progressive learning.

                    Class 1
                    This is the main event, where teams compete with the cars they have designed and built. Teams are judged across 6 categories and must pass a rigorous inspection by judges before being allowed to compete for the dynamic events. There are usually 100-120 teams in this class.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">Class 2
                    This is a concept class for teams who only have a project and plan for a Class 1 car. It can include any parts or work that has been completed in the project so far but this is not necessary. Teams are judged on business presentation, cost and design. Schools can enter both Class 1 and Class 2 cars, allowing Class 2 to be used for inexperienced students to practise their development in advance of a full Class 1 entry.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">The cars are judged by industry specialists on the following criteria:

                    Static events
                    Engineering design (150 points)
                    Cost & sustainability analysis (100 points)
                    Business presentation (75 points)
                    Technical inspection (comprising 6 tests): safety, chassis, noise, tilt, brake, and tech (no points)
                    Dynamic events
                    Skidpad (figure of 8) (50 points)
                    1 km autocross/sprint (150 points)
                    75 m acceleration (75 points)
                    22 km endurance (300 points) and fuel economy (100 points)
                    The winner of the event is the team with the highest number of points out of a maximum of 1000.</p>
            </div>
        </div>
    </div>

    <app-photo-roll *ngIf="photorollId" [photorollId]=photorollId></app-photo-roll>

</main>
