<main style="background-color: #f0f0f0;">

    <!-- Competition Name and the Logo -->
    <div class="container">

        <div class="row py-2" style="margin-top: 220px;"> 
            <div class="col-12 py-2">
                <img class="bg-light p-1 rounded" src="assets/img/FormulaStudentUK.png" height="160px" 
                    width="160px" alt="Competion Logo" style="background: rgba(255, 255, 255, 0);" #logo>
                <h3 class="d-inline-block ml-5 formula align-middle" style="font-size: 3.5rem;">Formula</h3>
                <hr>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row py-5 ">
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div>

    
    <app-competition-awards [compColor]=competitionColor></app-competition-awards>

    
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.</p>
            </div> 
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.</p>
            </div>
        </div>
    </div>

    <app-photo-roll [photorollId]=photorollId></app-photo-roll>

</main>