<a class="btn btn-primary ml-3 mt-3"  (click)="goBack()">&lt;&lt;Back</a>
<div class="card shadow-lg container" *ngIf="eventData">
  <h1 class="card-title text-center ">{{eventData.team.name}} Application</h1>
  <br>
  <hr>

  <form [formGroup]="appForm" (ngSubmit)="onSubmit(appForm)">
    <!-- <h1 class="card-title">{{team.teamId}} Application</h1> -->
    <br>
    <h4 class="text-center mb-3">Select your preferred subteams</h4>
    <div class="row">
      <div class="col text-center">
        <label>Subteam First Choice:</label>
        <select class="form-control" formControlName="selectedSubteam1" >
          <option selected disabled>Choose Subteam...</option>
          <option *ngFor="let st of eventData.activeSubteams" [ngValue]="st">{{ st.name }}</option>
        </select>
      </div>
      <div class="col text-center">
        <label>Subteam Second Choice:</label>
        <select id="" class="form-control" formControlName="selectedSubteam2">
          <option selected disabled>Choose Subteam...</option>
          <option *ngFor="let st of eventData.activeSubteams" [ngValue]="st">{{ st.name }}</option>
        </select>
      </div>
    </div>

    <span *ngIf="checkSubValidity()" style="margin: 20px;" class="col-sm-8">
      <p class="alert alert-danger">Subteam choices must be different!</p></span>

    <hr>
    <br>
    <h3 class="text-center mb-3">Upload your CV</h3>
    <!-- <label>Please Upload a Pdf version only.</label> -->
    <!-- <input type="file" class="form-control-file" formControlName="userCV"  -->
    <div class="col text-center mb-2">
    <input type="file" class="form-control-file"
      accept="application/pdf" (input)="onCvSelected($event.target.files)">
    </div>
    <div class="col text-center">
    <label class="text-info">*Please Upload a Pdf version only.
      Maximum file size is 5 MB.</label>
    </div>
    <hr>

    <h3 class="text-center mb-3" *ngIf="eventData.questions.length > 0">Fill in the Application</h3>
    <div formGroupName="userAnswers">

        <div
          *ngFor="let q of objectKeys(appForm['controls'].userAnswers['controls']); let i = index">
          <div class="col ">
            <h3>{{q}} :</h3>
          </div>
          <div class="col text-center">
            <textarea class="form-control" rows="3" cols="80" [formControlName]="q"></textarea>
          </div>
          <br>
        </div>

    </div>


    <!-- ************ -->
    <div class="row text-center">
      <button [disabled]="appForm.status == 'INVALID'" type="submit"
        class="btn btn-primary" style="margin: 10px;">Submit</button>
    <button type="button" class="btn btn-danger" style="margin: 10px;"
        [routerLink]="['/dashboard']">Cancel</button>
    </div>


  </form>
</div>

