<div class="card shadow-lg container" style="width: 60%; align-self: center;">
  <h1 class="card-title">{{eventData.team.name}} Application</h1>

  <form [formGroup]="appForm" (ngSubmit)="onSubmit(appForm)">
    <!-- <h1 class="card-title">{{team.teamId}} Application</h1> -->

    <h3>Select your preferred subteams</h3>
    <div class="row">
      <div class="col">
        <label>Subteam First Choice</label>
        <select class="form-control" formControlName="selectedSubteam1" >
          <option selected disabled>Choose Subteam...</option>
          <option *ngFor="let st of eventData.activeSubteams" [ngValue]="st">{{ st.name }}</option>
        </select>
      </div>
      <div class="col">
        <label>Subteam Second Choice</label>
        <select id="" class="form-control" formControlName="selectedSubteam2">
          <option selected disabled>Choose Subteam...</option>
          <option *ngFor="let st of eventData.activeSubteams" [ngValue]="st">{{ st.name }}</option>
        </select>
      </div>
    </div>

    <span *ngIf="checkSubValidity()" style="margin: 20px;" class="col-sm-8">
      <p class="alert alert-danger">Subteam choices must be different!</p></span>

    <hr>
    <h3>Upload your CV</h3>
    <!-- <label>Please Upload a Pdf version only.</label> -->
    <!-- <input type="file" class="form-control-file" formControlName="userCV"  -->
    <input type="file" class="form-control-file" style="margin: 20px;"
      accept="application/pdf" (input)="onCvSelected($event.target.files)">
    <label>Please Upload a Pdf version only. 
      Maximum file size is 5 MB.</label>
    <hr>

    <h2>Fill in the Application</h2>
    <div formGroupName="userAnswers">
      
        <div style="margin: 20px;"
          *ngFor="let q of objectKeys(appForm['controls'].userAnswers['controls']); let i = index">
            <h3>{{q}}</h3>
            <textarea rows="3" cols="80" [formControlName]="q"></textarea>
        </div>
      
    </div>


    <!-- ************ -->
    
    <button [disabled]="appForm.status == 'INVALID'" type="submit" 
        class="btn btn-primary" style="margin: 10px;">Submit</button>
    <button type="button" class="btn btn-danger" style="margin: 10px;" 
        [routerLink]="['/dashboard']">Cancel</button>

  </form>
</div>

