.card[name="main-card"]{
    margin: 0 auto;
    float: none;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 30px;
}

.card{
    float: none;
    margin-bottom: 4em;
    /* margin-top: 2em; */
    /*padding: 30px;*/
    /* SAMY EDIT */
    width: auto;
    padding: 2em;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55)
}

.std-btn {
    /* margin-left: 60%; */
    border: none;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
}

button{
    size: 80%;
}


@media only screen and (max-width: 50rem){
    
    .card{
        padding: 30px;
    }
    
}