.placeholder {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

/*carousel-item{*/
/*  height: 100vh;*/
/*}*/
/*.carousel-item img {*/
/*  height: 100vh;*/
/*}*/

/*@media only screen and (max-width: 50rem) {*/
/*  carousel-item{*/
/*    height: 40vh;*/
/*  }*/
/*  .carousel-item img {*/
/*    height: 40vh;*/
/*  }*/
/*}*/

/* utility classes */
img{
  height: 90vh;
}
@media only screen and (max-width: 50rem){
  img{
    height: 30vh;
  }
}

