<body>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form>
                <div class="form-group">
                  <label for="exampleLogoUrl" class="text-white">Logo Url</label>
                  <input type="url" class="form-control" id="exampleInputUrl"  placeholder="Enter url">
                </div>
                <div class="form-group">
                  <label for="exampleInputName" class="text-white">Sponsor Name</label>
                  <input type="text" class="form-control" id="exampleInputName">
                </div>
                <div class="form-group">
                    <label for="exampleInputDesc" class="text-white">Sponsor Description</label>
                    <textarea class="form-control" id="exampleInputDesc"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</body>


