<!--<!DOCTYPE html>-->

<div class="Competition__Background">

<div class="Competition">
  <div class="u-center-text u-margin-bottom-medium fade-in">
    <h2 class="heading-secondary">Our Competitions</h2>
  </div>
  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm">
      <img
        class="competition-photo-1"
        src="../../../assets/img/FormulaStudentUK.png"
        alt="Formula Student UK"
      />
    </div>
    <div class="col-sm u-padding-top-big u-margin-top-big">
      <h2
        class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small"
      >
        Formula Student UK
      </h2>
      <p class="paragraph">
        <strong>
          Formula Student is a student engineering competition held annually in
          the UK. Student teams from around the world design, build, test, and
          race a small-scale formula style racing car.
        </strong>
      </p>
    </div>
  </div>

  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm u-padding-top-big">
      <h2
        class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small"
      >
        Shell Eco Marathon
      </h2>
      <p class="paragraph">
        <strong>
          Shell Eco-marathon is a world-wide energy efficiency competition
          sponsored by Shell. Participants build automotive vehicles to achieve
          the highest possible fuel.</strong
        >
      </p>
    </div>
    <div class="col-sm">
      <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../assets/img/Shell.png"
        alt="Shell"
      />
    </div>
  </div>
  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm">
      <img
        class="competition-photo-3 u-margin-top-minus-4"
        src="../../../assets/img/ROV.png"
        alt="ROV"
      />
    </div>
    <div class="col-sm ">
      <h2
        class="competition-heading-3 heading-tertiary u-center-text u-margin-bottom-small"
      >
        ROV
      </h2>
      <p class="paragraph">
        <strong>
          “ROV” stands for remotely operated vehicle; ROVs are unoccupied,
          highly maneuverable underwater robots that can be used to explore
          ocean depths while being operated by someone at the water surface.
          Remotely operated vehicles, or ROVs, allow us to explore the ocean
          without actually being in the ocean.
        </strong>
      </p>
    </div>
  </div>

  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm ">
      <h2
        class="heading-tertiary u-center-text u-margin-bottom-small"
        style="color: #158000"
      >
        EVER
      </h2>
      <p class="paragraph">
        <strong> EVER is a national competition which we win every year</strong>
      </p>
    </div>
    <div class="col-sm">
      <img
        class="competition-photo-1 u-margin-top-minus-3"
        src="../../../../assets/img/everlogo.png"
        alt="ever"
      />
    </div>
  </div>


  <br>
  <br>
  <br>
  <div class="row u-margin-bottom-medium fade-in d-flex justify-content-center">
    <div class="col-md-12">
      <h2
        class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small" >
        Racing Aeolus
      </h2>
      <p class="paragraph">
        <strong>
          It’s one of the 4 biggest sustainable racing events, It’s held in Den Helder Netherlands, 
          The idea is to develop and build Wind Powered Vehicles (WPV) that can generate energy from
          the wind as they drive against the wind and compete with other teams from across the globe,
          Entrants to the race must design and build their own single-seated, wind-powered vehicle
          incorporating a wind turbine that transmits the power of the wind to the wheels by electrical
          or mechanical means.</strong>
      </p>
    </div>
  </div>


  <br>
  <br>
  <br>
  <div class="row u-margin-bottom-medium fade-in d-flex justify-content-center">
    <div class="col-md-12">
      <h2 class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small" >
        FSUK Artificial Intelligence</h2>
      <p class="paragraph">
        <strong>
          FS-AI challenges university teams to build and develop the driving systems to run a fully
          level 4 autonomous vehicle. It is a Real-World Autonomous event where teams must
          demonstrate their understanding and practical solutions for the integration of autonomous
          vehicles as a future transport solution.
        </strong>
      </p>
    </div>
  </div>


  <br>
  <br>
  <br>
  <div class="row u-margin-bottom-medium fade-in d-flex justify-content-center">
    <div class="col-md-12">
      <h2 class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small" >
        ASURT Seminars</h2>
      <p class="paragraph">
        <strong>
          In order to increase our impact on the students even more, Many seminars will be held in the faculty
          throughout the year to: <br> <br>
          <ul class="ml-5" >
            <li>Invest in our greatest resource the students who’ll be able to continue to spread our mission.</li>
            <li>Educate students about basics of automotives to discover the passion in them.</li>
            <li>Let them know more about the team and what we provide from experience.</li>
          </ul>
        </strong>
      </p>
    </div>
  </div>


</div>

<div class="Competition__Mobile ">

  <div class="u-center-text  fade-in ">
    <h2 class="heading-secondary mt-5">Our Competitions</h2>
  </div>


  <div class="row  fade-in">

    <div class="col">

      <img class="competition-photo-1 " src="../../../assets/img/FormulaStudentUK.png" alt="FormulaStudentUK">

      <div class=" u-padding-top-big">
        <h2 class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1">
        Formula Student UK </h2>
        <p class="paragraph"><strong>
            Formula Student is a student engineering competition held annually in
            the UK. Student teams from around the world design, build, test, and
            race a small-scale formula style racing car.
        </strong ></p>
      </div>

    </div>
  </div>


  <div class="row u-margin-bottom-medium fade-in">

    <div class="col">
      <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../assets/img/Shell.png"
        alt="Shell"
      />
      <div class=" u-padding-top-big">
        <h2
          class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-2"
        >
          Shell Eco Marathon
        </h2>
        <p class="paragraph">
          <strong>
            Shell Eco-marathon is a world-wide energy efficiency competition
            sponsored by Shell. Participants build automotive vehicles to achieve
            the highest possible fuel.</strong
          >
        </p>
      </div>
    </div>


  </div>

  <div class="row u-margin-bottom-medium fade-in u-margin-top-minus-2">

    <div class="col-sm">
      <img
        class="competition-photo-1 u-margin-bottom-medium"
        src="../../../assets/img/ROV.png"
        alt="ROV"
      />
      <div class=" u-padding-top-big">
        <h2
          class="competition-heading-3 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-3 "
        >
          ROV
        </h2>
        <p class="paragraph">
          <strong>
            “ROV” stands for remotely operated vehicle; ROVs are unoccupied,
            highly maneuverable underwater robots that can be used to explore
            ocean depths while being operated by someone at the water surface.
            Remotely operated vehicles, or ROVs, allow us to explore the ocean
            without actually being in the ocean.</strong
          >
        </p>
      </div>
    </div>


  </div>

  <div class="row fade-in">

    <div class="col-sm">
      <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../../assets/img/everlogo.png"
        alt="Ever"
      />

      <div class=" u-padding-top-big ">
        <h2
          class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1"
          style="color: #158000"
        >
          Ever
        </h2>
        <p class="paragraph mb-4">
          <strong>
            EVER is a national competition which we win every year
          </strong>
        </p>
      </div>
    </div>

  </div>


  <br>
  <div class="row fade-in">

    <div class="col-sm">
      <!-- <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../../assets/img/everlogo.png"
        alt="Ever"
      /> -->

      <div class="col u-padding-top-big  ">
        <h2
          class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1 "
        >
        FSUK Artificial Intelligence
        </h2>
        <p class="paragraph mb-4">
          <strong>
            It’s one of the 4 biggest sustainable racing events, It’s held in Den Helder Netherlands, 
          The idea is to develop and build Wind Powered Vehicles (WPV) that can generate energy from
          the wind as they drive against the wind and compete with other teams from across the globe,
          Entrants to the race must design and build their own single-seated, wind-powered vehicle
          incorporating a wind turbine that transmits the power of the wind to the wheels by electrical
          or mechanical means.
          </strong>
        </p>
      </div>
    </div>

  </div>


  <br>
  <div class="row fade-in">

    <div class="col-sm">
      <!-- <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../../assets/img/everlogo.png"
        alt="Ever"
      /> -->

      <div class=" col u-padding-top-big ">
        <h2
          class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1"
        >
        Racing Aeolus
        </h2>
        <p class="paragraph mb-4">
          <strong>
            It’s one of the 4 biggest sustainable racing events, It’s held in Den Helder Netherlands, 
          The idea is to develop and build Wind Powered Vehicles (WPV) that can generate energy from
          the wind as they drive against the wind and compete with other teams from across the globe,
          Entrants to the race must design and build their own single-seated, wind-powered vehicle
          incorporating a wind turbine that transmits the power of the wind to the wheels by electrical
          or mechanical means.
          </strong>
        </p>
      </div>
    </div>

  </div>

  <br>
  <div class="row fade-in">

    <div class="col-sm">
      <!-- <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../../assets/img/everlogo.png"
        alt="Ever"
      /> -->

      <div class=" col u-padding-top-big ">
        <h2
          class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1"
        >
        ASURT Seminars
        </h2>

        <p class="paragraph">
          <strong>
            In order to increase our impact on the students even more, Many seminars will be held in the faculty
            throughout the year to: <br><br>
            <ul class="ml-3" >
              <li>Invest in our greatest resource the students who’ll be able to continue to spread our mission.</li>
              <li>Educate students about basics of automotives to discover the passion in them.</li>
              <li>Let them know more about the team and what we provide from experience.</li>
            </ul>
          </strong>
        </p>
      </div>
    </div>

  </div>

</div>



<div  class="SponsorsAlt">


  <div class="u-center-text ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row  u-margin-bottom-medium">
    <div class="col text-center  justify-content-center   p-1">
   <img class="logo__halfWidth  " src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col text-center  justify-content-center  p-1">
      <img class="logo u-margin-top-small" src="../../../../assets/img/ADES.png" alt="ADES">

    </div>


    <div class="col text-center  justify-content-center  p-1">
      <img class="logo u-margin-top-medium" src="../../../../assets/img/SIEMIENS.svg" alt="SIEMIENS">
    </div>
    <div class="col text-center  justify-content-center  p-1">
      <img class="logo__halfWidth" src="../../../../assets/img/Shell.png" alt="SHELL">
    </div>

    <div class="col text-center  justify-content-center   p-1">
      <img class="logo mt-2" src="../../../../assets/img/GIZA.png" alt="GIZASYSTEMS">
    </div>

    <div class="col text-center  justify-content-center  p-1">
      <img class="logo__halfWidth u-margin-top-minus-6" src="../../../../assets/img/KIMA.png" alt="KIMA">
    </div>

    <div class="col text-center  justify-content-center  p-1">
      <img class="logo__halfWidth u-margin-top-minus-6" src="../../../../assets/img/emar.png" alt="EMAR">
    </div>
  </div>
</div>

<div class="SponsorsAlt__Mobile">


  <div class="u-center-text ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row mb-4 ">
    <div class="col text-center  justify-content-center p-2">
   <img class="logo__fullWidth " src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col text-center  justify-content-center p-2 ">
      <img class="logo__fullWidth mt-3" src="../../../../assets/img/ADES.png" alt="ADES">
    </div>

    <div class="col text-center  justify-content-center p-2">
      <img class="logo__fullWidth" src="../../../../assets/img/emar.png" alt="EMAR">
    </div>

  </div>



    <div class="row mb-4">
    <div class="col text-center  justify-content-center">
      <img class="logo__fullWidth u-margin-top-mid" src="../../../../assets/img/SIEMIENS.svg" alt="SIEMIENS">
    </div>
    <div class="col text-center  justify-content-center">
      <img class="logo__fullWidth" src="../../../../assets/img/Shell.png" alt="SHELL">
    </div>
    <div class="col text-center  justify-content-center">
      <img class="logo__fullWidth text-center " src="../../../../assets/img/KIMA.png" alt="KIMA">
    </div>
  </div>

    <!-- <div class="row "> -->


    <!-- <div class="col">
      <img class="logo__halfWidth" src="../../../../assets/img/KIMA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo__halfWidth" src="../../../../assets/img/emar.png" alt="TOYOTA">
    </div>
  </div> -->

  <div class="row text-center  justify-content-center u-margin-top-minus-5 ">
    <div class="col">
      <img class="logo__halfWidth mt-1 ml-3 " src="../../../../assets/img/GIZA.png" alt="GIZA">
    </div>

  </div>

</div>
</div>



<!-- <div class="SponsorsAlt">


  <div class="u-center-text  fade-in ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row u-margin-bottom-medium">
    <div class="col">
   <img class="logo u-margin-top-minus-2 " src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo mt-3 " src="../../../../assets/img/ADES.png" alt="ADES">

    </div>


    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/SIEMIENS.svg" alt="SIEMIENS">
    </div>
  </div>

    <div class="row">
    <div class="col">
      <img class="logo" src="../../../../assets/img/Shell.png" alt="SHELL">
    </div>

    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/GIZA.png" alt="GIZASYSTEMS">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/KIMA.png" alt="KIMA">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/emar.png" alt="EMAR">
    </div>
  </div>
</div>

<div class="SponsorsAlt__Mobile">


  <div class="u-center-text  fade-in ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row ">
    <div class="col">
   <img class="logo mt-2" src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col ">
      <img class="logo__fullWidth mt-4" src="../../../../assets/img/ADES.png" alt="TOYOTA">

    </div>
  </div>



    <div class="row mb-3">
    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/SIEMIENS.svg" alt="TOYOTA">
    </div>
    <div class="col">
      <img class="logo" src="../../../../assets/img/Shell.png" alt="TOYOTA">
    </div>
  </div>

    <div class="row ">


    <div class="col">
      <img class="logo" src="../../../../assets/img/KIMA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/emar.png" alt="TOYOTA">
    </div>
  </div>

  <div class="row ml-3 u-margin-top-minus-5 ">
    <div class="col">
      <img class="logo mt-5 img-fluid mx-auto" src="../../../../assets/img/GIZA.png" alt="TOYOTA">
    </div>

  </div>

</div> -->
<!--</html>-->
