
@import "../../../fade-in.css";

/* overwrite browser defaults using the universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*force this parameter to be inherited from parent because by default this property is not inherited*/ }


 .Competition {
  font-size: 62.5% ;
  /* set precentage of the browser default is better 10 px = 62.5% of 16 */ }
@media only screen and (max-width: 75em) {
   .Competition {
    font-size: 56.25%; } }
@media only screen and (max-width: 56.25em) {
  .Competition {
    font-size: 50%; } }
@media only screen and (max-width: 37.5em) {
   .Competition {
    font-size: 46%; } }
@media only screen and (min-width: 112.5em) {
  .Competition {
    font-size: 75%; } }

/*headings*/


.heading-secondary {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #B21212, #c70039);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2em;
  transition: all .2s; }
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3em; } }
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5em; } }
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  /*font-size: 3rem;*/
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    /*font-size: 2rem;*/
    font-size: 2em;
     } }


.competition-heading-1 {
  color: #B21212;
}

.competition-heading-2 {
  color: #E5AC00;
}

.competition-heading-3 {
  color: #177EE5;
}

.paragraph {
  font-size: 2em; }
.paragraph:not(:last-child) {
  margin-bottom: 3em; }

@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.5em;
  }
}




/* competition component */

.Competition{
  padding: 8em;
}


@media only screen and (max-width: 35em) {
  .Competition{
    padding: 4em !important; } }


.competition-photo-1 {
  width: inherit;
  transform: scale(0.7);
}

.competition-photo-3 {
  width: inherit;
  transform: scale(0.95);
}



/* utility classes */

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 0.5em !important; }

.u-margin-bottom-medium {
  margin-bottom: 4em !important; }
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2em; } }

.u-margin-bottom-big {
  margin-bottom: 8em !important; }
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5em; } }

.u-margin-top-big {
  margin-top: 0em !important; }

.u-margin-top-huge {
  margin-top: 10em !important; }

.u-padding-top-big {
  padding-top: 6em !important; }
@media only screen and (max-width: 49em) {
  .u-padding-top-big {
    padding-top: 4em !important; } }

@media only screen and (max-width: 30em) {
  .u-padding-top-big {
    padding-top: 0em !important; } }


