<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--  <link rel="stylesheet" href="competitions.component.css">-->
<!--  <title>ASU RT | Turning racing science into reality</title>-->
<!--</head>-->
<div class="Competition">
  <div class="u-center-text u-margin-bottom-medium fade-in">
    <h2 class="heading-secondary">Our Competitions</h2>
  </div>
  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm">
      <img
        class="competition-photo-1"
        src="../../../assets/img/FormulaStudentUK.png"
        alt="Formula Student UK"
      />
    </div>
    <div class="col-sm u-padding-top-big u-margin-top-big">
      <h2
        class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small"
      >
        Formula Student UK
      </h2>
      <p class="paragraph">
        <strong>
          Formula Student is a student engineering competition held annually in
          the UK. Student teams from around the world design, build, test, and
          race a small-scale formula style racing car.
        </strong>
      </p>
    </div>
  </div>

  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm u-padding-top-big">
      <h2
        class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small"
      >
        Shell Eco Marathon
      </h2>
      <p class="paragraph">
        <strong>
          Shell Eco-marathon is a world-wide energy efficiency competition
          sponsored by Shell. Participants build automotive vehicles to achieve
          the highest possible fuel.</strong
        >
      </p>
    </div>
    <div class="col-sm">
      <img
        class="competition-photo-1 u-margin-top-minus"
        src="../../../assets/img/Shell.png"
        alt="Shell"
      />
    </div>
  </div>
  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm">
      <img
        class="competition-photo-3 u-margin-top-minus-4"
        src="../../../assets/img/ROV.png"
        alt="ROV"
      />
    </div>
    <div class="col-sm ">
      <h2
        class="competition-heading-3 heading-tertiary u-center-text u-margin-bottom-small"
      >
        ROV
      </h2>
      <p class="paragraph">
        <strong>
          “ROV” stands for remotely operated vehicle; ROVs are unoccupied,
          highly maneuverable underwater robots that can be used to explore
          ocean depths while being operated by someone at the water surface.
          Remotely operated vehicles, or ROVs, allow us to explore the ocean
          without actually being in the ocean.
        </strong>
      </p>
    </div>
  </div>
  <div class="row u-margin-bottom-medium fade-in">
    <div class="col-sm ">
      <h2
        class="heading-tertiary u-center-text u-margin-bottom-small"
        style="color: #158000"
      >
        EVER
      </h2>
      <p class="paragraph">
        <strong> EVER is a national competition which we win every year</strong>
      </p>
    </div>
    <div class="col-sm">
      <img
        class="competition-photo-1 u-margin-top-minus-4"
        src="../../../../assets/img/everlogo.png"
        alt="Shell"
      />
    </div>
  </div>
</div>

<div class="Competition__Mobile ">

  <div class="u-center-text  fade-in ">
    <h2 class="heading-secondary mt-5">Our Competitions</h2>
  </div>


  <div class="row  fade-in">

  <div class="col-sm">
    <img
      class="competition-photo-1 "
      src="../../../assets/img/FormulaStudentUK.png"
      alt="FormulaStudentUK"
    />
  </div>

  <div class="col-sm u-padding-top-big">
    <h2
      class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1"
    >
    Formula Student UK
  </h2>
    <p class="paragraph">
      <strong>
        Formula Student is a student engineering competition held annually in
        the UK. Student teams from around the world design, build, test, and
        race a small-scale formula style racing car.</strong
      >
    </p>
  </div>
</div>

<div class="row u-margin-bottom-medium fade-in">

  <div class="col-sm">
    <img
      class="competition-photo-1 u-margin-top-minus"
      src="../../../assets/img/Shell.png"
      alt="Shell"
    />
  </div>

  <div class="col-sm u-padding-top-big">
    <h2
      class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-2"
    >
      Shell Eco Marathon
    </h2>
    <p class="paragraph">
      <strong>
        Shell Eco-marathon is a world-wide energy efficiency competition
        sponsored by Shell. Participants build automotive vehicles to achieve
        the highest possible fuel.</strong
      >
    </p>
  </div>
</div>

<div class="row u-margin-bottom-medium fade-in u-margin-top-minus-2">

  <div class="col-sm">
    <img
      class="competition-photo-1 u-margin-bottom-medium"
      src="../../../assets/img/ROV.png"
      alt="ROV"
    />
  </div>

  <div class="col-sm u-padding-top-big">
    <h2
      class="competition-heading-3 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-3 "
    >
      ROV
    </h2>
    <p class="paragraph">
      <strong>
        “ROV” stands for remotely operated vehicle; ROVs are unoccupied,
        highly maneuverable underwater robots that can be used to explore
        ocean depths while being operated by someone at the water surface.
        Remotely operated vehicles, or ROVs, allow us to explore the ocean
        without actually being in the ocean.</strong
      >
    </p>
  </div>
</div>

<div class="row u-margin-bottom-medium fade-in">

  <div class="col-sm">
    <img
      class="competition-photo-1 u-margin-top-minus"
      src="../../../../assets/img/everlogo.png"
      alt="Ever"
    />
  </div>

  <div class="col-sm u-padding-top-big u-margin-bottom-medium">
    <h2
      class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small u-margin-top-minus-1"
      style="color: #158000"
    >
      Ever
    </h2>
    <p class="paragraph">
      <strong>
        EVER is a national competition which we win every year
      </strong>
    </p>
  </div>
</div>

</div>

<!-- <div class="SponsorsAlt">


  <div class="u-center-text  fade-in ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row u-margin-bottom-medium">
    <div class="col">
   <img class="logo u-margin-top-minus-2 " src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo mt-3 " src="../../../../assets/img/ADES.png" alt="ADES">

    </div>


    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/SIEMIENS.svg" alt="SIEMIENS">
    </div>
  </div>

    <div class="row">
    <div class="col">
      <img class="logo" src="../../../../assets/img/Shell.png" alt="SHELL">
    </div>

    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/GIZA.png" alt="GIZASYSTEMS">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/KIMA.png" alt="KIMA">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/emar.png" alt="EMAR">
    </div>
  </div>
</div>

<div class="SponsorsAlt__Mobile">


  <div class="u-center-text  fade-in ">
    <h2 class="  heading-secondary  mt-3 u-margin-bottom-small">Our Sponsors</h2>
  </div>



  <div class="row ">
    <div class="col">
   <img class="logo mt-2" src="../../../../assets/img/TOYOTA.png" alt="TOYOTA">
    </div>

    <div class="col ">
      <img class="logo__fullWidth mt-4" src="../../../../assets/img/ADES.png" alt="TOYOTA">

    </div>
  </div>



    <div class="row mb-3">
    <div class="col">
      <img class="logo mt-5" src="../../../../assets/img/SIEMIENS.svg" alt="TOYOTA">
    </div>
    <div class="col">
      <img class="logo" src="../../../../assets/img/Shell.png" alt="TOYOTA">
    </div>
  </div>

    <div class="row ">


    <div class="col">
      <img class="logo" src="../../../../assets/img/KIMA.png" alt="TOYOTA">
    </div>

    <div class="col">
      <img class="logo" src="../../../../assets/img/emar.png" alt="TOYOTA">
    </div>
  </div>

  <div class="row ml-3 u-margin-top-minus-5 ">
    <div class="col">
      <img class="logo mt-5 img-fluid mx-auto" src="../../../../assets/img/GIZA.png" alt="TOYOTA">
    </div>

  </div>

</div> -->
<!--</html>-->
