
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--  <link rel="stylesheet" href="competitions.component.css">-->
<!--  <title>ASU RT | Turning racing science into reality</title>-->
<!--</head>-->

<div class="Competition">
  <div class=" u-center-text u-margin-bottom-medium">
    <h2 class="heading-secondary">Our Competitions</h2>
  </div>
  <div class="row u-margin-bottom-medium ">
    <div class="col ">
      <img class="competition-photo-1" src="../../../assets/img/FormulaStudentUK.png" alt="Formula Student UK">
    </div>
    <div class="col u-padding-top-big u-margin-top-big">
      <h2 class="competition-heading-1 heading-tertiary u-center-text u-margin-bottom-small">01. Formula Student UK</h2>
      <p class="paragraph">
        Formula Student is a student engineering competition held annually in the UK. Student teams from around the world  design, build, test, and race a small-scale formula style  racing car.
      </p>
    </div>
  </div>

  <div class="row u-margin-bottom-medium ">
    <div class="col u-padding-top-big">
      <h2 class="competition-heading-2 heading-tertiary u-center-text u-margin-bottom-small">02. Shell Eco Marathon</h2>
      <p class="paragraph">
        Shell Eco-marathon is a world-wide energy efficiency competition sponsored by Shell. Participants build automotive vehicles to achieve the highest possible fuel.</p>
    </div>
    <div class="col">
      <img class="competition-photo-1" src="../../../assets/img/Shell.png" alt="Shell">
    </div>
  </div>
  <div class="row u-margin-bottom-medium ">
    <div class="col">
      <img class="competition-photo-3" src="../../../assets/img/ROV.png" alt="ROV">
    </div>
    <div class="col u-padding-top-big">
      <h2 class="competition-heading-3 heading-tertiary u-center-text u-margin-bottom-small">03. ROV</h2>
      <p class="paragraph">
        “ROV” stands for remotely operated vehicle; ROVs are  unoccupied, highly maneuverable underwater robots that  can be used to explore ocean depths while being operated  by someone at the water surface. Remotely operated  vehicles, or ROVs, allow us to explore the ocean without  actually being in the ocean.
      </p>
    </div>
  </div>
</div>

<!--</html>-->

