<a class=" m-4" (click)="goBack()">&lt;&lt;Back</a>
<div class="card border shadow-lg container"  name="main-card">
    
    <div class="center" *ngIf="app">

        <h1 class=" my-4 card-title" style="font-size: 220%;">
            View {{user.name}}'s Application
            <span class="flex-spacer"></span>
        </h1>
        <br>
        <!--p>{{ user | json }}</p>
            for debugging-->

        <h2 style="font-size:150%;">User Infrormation</h2>
        <label>Name </label>
        <p style="font-size: 140%;">
            {{user.name}}
        </p>
        <br>
        <label>Email </label>
        <p style="font-size: 140%;">
            {{user.email}}
        </p>
        <br>
        <label>Mobile </label>
        <p style="font-size: 140%;">
            {{user.mobile}}
        </p>

        <br>
    
        
        <label>University </label>
        <p style="font-size: 140%;">
            {{user.university}}
        </p>
        <br>
        <label>Faculty</label>
        <p style="font-size: 140%;">
            {{user.faculty}}
        </p>
        <br> 
        <label>Department</label>
        <p style="font-size: 140%;">
            {{user.department}}
        </p>
        <br>

        <hr>
        <h2 style="font-size:150%;">Application Answers</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label style="color: rgb(158, 12, 41);">Selected Subteam: First Choice</label>
                <h3 style="font-size: 140%; margin: 0px 25px;">
                    {{app.selSubteam1.name}}
                </h3>
            </div>
            <div class="col-md-4">
                <label style="color: rgb(158, 12, 41);">Selected Subteam: Second Choice</label>
                <h3 style="font-size: 140%; margin: 0px 25px;">
                    {{app.selSubteam2.name}}
                </h3>
            </div>
        </div>
        

        <div *ngFor="let q of questions" style="margin: 30px 25px;">
            <label style="font-size:100%; color: rgb(158, 12, 41);">{{q.question}}</label>
            <h3 style="font-size:150%;">{{q.answer}}</h3>
        </div>

        <hr>
        <h2>Applicant's CV</h2>
        <br>
        
        <pdf-viewer [src]="pdfSRC" [render-text]="true" style="display: block; height: 100vh;"
            [zoom-scale]="page-width"></pdf-viewer>
        <br>
        <button class="st-btn btn-outline-primary" (click)="downloadCV()">Download CV</button>
        <br>
        <hr>
        
        <h2>Update Application status </h2>
        <br>
        <div class="col-md-6">
            <select class="custom-select" [(ngModel)]="app.currentPhase" style="margin: 15px;">
                <option *ngFor="let ph of phases " [value]="ph">{{ ph }}</option>
            </select>

            <select class="custom-select" [(ngModel)]="app.currentPhaseStatus" style="margin: 15px;">
                <option *ngFor="let s of statuses " [value]="s">{{ s }}</option>
            </select>
        
            <button type="submit " class="btn-success rounded m-3 text-floral-white bottom-right " 
                (click)="onSubmit()">Save Changes</button>
        </div>

    </div>
    
    
    
</div>