<main *ngIf="index>=0" class="py-5">
    <!-- Competition Name and the Logo -->
    <div class="row py-5">
        <div class="col-12 py-5">
            <img class="sizeOfImg bg-light p-1 rounded" [src]="competitionsData[index].competitionLogo"
                alt="Competion Logo">
            <h3 class="d-inline-block ml-5 text-light align-middle">{{competitionsData[index].competitionName}}</h3>
            <hr>
        </div>
    </div>

    <!-- Competition Photo and description -->
    <div class="row py-5">
        <!-- Description -->
        <div class="col-sm-6 col-12">
            <p class="text-break text-justify text-light">{{competitionsData[index].competitionInfo}}</p>
        </div>
        <!-- Photo -->
        <div class="col-sm-6 col-12">
            <img class="w-100 img-thumbnail" [src]="competitionsData[index].competitionImage" alt="Competition Photo">
        </div>
    </div>
</main>