<<<<<<< HEAD
=======
@import "../../fade-in.css";
>>>>>>> 0fbbb9b2d182fa8a9c48f20c176815d830cc6d40
.card{
    width: 18rem;
}
img{
    height: 256px;
}
hr{
    border-top: 3px solid rgba(255,255,255,.1);
    margin-bottom: 20px;
}
