
<a class=" m-4" (click)="goBack()">&lt;&lt;Back</a>
<div class="card border shadow-lg container" name="main-card">
   
    <div class="center">

        <h1 *ngIf="user" class=" my-4 card-title" style="font-size: 220%;">
            View User Profile: View {{user.name}}'s Profile
            <span class="flex-spacer"></span>
        </h1>
        <!--p>{{ user | json }}</p>
            for debugging-->

        <form *ngIf="viewAppForm" novalidate [formGroup]="viewAppForm" (ngSubmit)="saveChanges()">

            <p>
                <mat-form-field>
                    <label>Name: </label>
                    <br>
                    <input matInput formControlName="name" type="text" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('name').hasError('required') && viewAppForm.get('name').touched">Name is required</mat-error>
                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>Email: </label>
                    <br>
                    <input matInput formControlName="email" type="email" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('email').hasError('required') && viewAppForm.get('email').touched">Please Enter Valid Email</mat-error>

                </mat-form-field>


                <br>
                <mat-form-field>
                    <label>Mobile: </label>
                    <br>
                    <input matInput formControlName="mobile" type="text" maxlength="13" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('mobile').hasError('required') && viewAppForm.get('mobile').touched">Please enter Mobile Number</mat-error>

                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>Birth Date: </label>
                    <br>
                    <input matInput formControlName="birthDate" type="date" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('birthDate').hasError('required') && viewAppForm.get('birthDate').touched">Birth Date is required</mat-error>

                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>University: </label>
                    <br>
                    <input matInput formControlName="university" type="text" maxlength="40" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('university').hasError('required') && viewAppForm.get('university').touched">University is required</mat-error>


                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>Faculty: </label>
                    <br>
                    <input matInput formControlName="faculty" type="text" maxlength="50" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('faculty').hasError('required') && viewAppForm.get('faculty').touched">Faculty is required</mat-error>

                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>Department: </label>
                    <br>
                    <input matInput formControlName="department" type="text" maxlength="40" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('department').hasError('required') && viewAppForm.get('department').touched">Department is required</mat-error>

                </mat-form-field>
                <br>
                <mat-form-field>
                    <label>College ID: </label>
                    <br>
                    <input matInput formControlName="collegeId" type="text" maxlength="10" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('collegeId').hasError('required') && viewAppForm.get('collegeId').touched">College ID is required</mat-error>

                </mat-form-field>
                <br>
                <mat-form-field>
                    <label>Emergency Contact Name: </label>
                    <br>
                    <input matInput formControlName="emergencyContact_name" type="text" maxlength="40" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('emergencyContact_name').hasError('required') && viewAppForm.get('emergencyContact_name').touched">Please Enter your Emergency Contact Name</mat-error>

                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>Emergency Contact Relation: </label>
                    <br>
                    <input matInput formControlName="emergencyContact_relation" type="text" maxlength="40" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('emergencyContact_relation').hasError('required') && viewAppForm.get('emergencyContact_relation').touched">Please Enter the relation of your Emergency Contact </mat-error>

                </mat-form-field>

                <br>
                <mat-form-field>
                    <label>Emergency Contact Mobile: </label>
                    <br>
                    <input matInput formControlName="emergencyContact_mobile" type="text" maxlength="13" class="input-field" />
                    <mat-error *ngIf="viewAppForm.get('emergencyContact_mobile').hasError('required') && viewAppForm.get('emergencyContact_mobile').touched">Please Enter your Emergency Contact Mobile Number</mat-error>

                </mat-form-field>

                <br>

            </p>

            <hr>

            <!-- <div class="form-check">
            </div> -->
            <mat-slide-toggle class="form-check-input" formControlName="teamMember" style="margin-left: 30px;">Member</mat-slide-toggle>

            <!-- <mat-form-field>

                    <h3> <label for="teamMemberCheckBox">Team Member</label>

                        <input matInput type="checkbox" id="teamMemberCheckBox" class="form-check-input" formControlName="teamMember" style="margin: 7px 20px; size: 150%;">
                    </h3>
                </mat-form-field> -->
            <br>
            <br>
            <br>

            <div class="container" *ngIf="viewAppForm.value.teamMember" style="margin-left: 30px;">
                <mat-slide-toggle class="form-check-input" formControlName="head">Head</mat-slide-toggle>
                <br>
                <br>
                <br>

                <!-- <mat-form-field>
                    <h3 style="margin:0px 0px 0px 10px;">

                        <label for="headCheckBox">Head</label>
                        <input matInput type="checkbox" id="headCheckBox" class="form-check-input" formControlName="head" style="margin: 7px 20px; size: 150%;">
                    </h3>
                </mat-form-field> -->


                <mat-select formControlName="team" (selectionChange)="updateSub()" style="width: 70%;">

                    <mat-option selected *ngIf="viewAppForm.value.team" [value]="viewAppForm.value.team">
                        {{viewAppForm.value.team}}

                    </mat-option>
                    <mat-option *ngFor="let t of optionsTeams" [value]="t.name">
                        {{ t.name }}
                    </mat-option>
                </mat-select>
                <br>
                <br>

                <br>
                <!-- <mat-form-field>

                    <select matInput class="custom-select form-control" [disabled]="user.teamMember" formControlName="team">
                       <option selected disabled>Choose team...</option>
                       <option selected *ngIf="team">{{team.name}}</option>
                       <option *ngFor="let t of availableTeams()">{{ t.name }}</option>
                    </select>
                </mat-form-field> -->


                <mat-select *ngIf="viewAppForm.value.team" formControlName="subTeam">

                    <mat-option selected *ngIf="subT" [value]="subT.name">{{subT.name}}</mat-option>
                    <mat-option *ngFor="let sub of optionsSubTeams" [value]="sub.name">
                        {{ sub.name }}
                    </mat-option>
                </mat-select>

                <!-- <mat-form-field>
                    <select matInput *ngIf="viewAppForm.value.team" class="custom-select form-control" [disabled]="user.teamMember" formControlName="subTeam">
                        <option selected disabled>Choose sub-team...</option>
                        <option selected *ngIf="subT">{{subT.name}}</option>
                        <option *ngFor="let sub of availableSubTeams()" >{{ sub.name }}</option>
                    </select>

                </mat-form-field> -->


            </div>

            <hr>
            <span class="flex-spacer"></span>
            <button mat-button type="submit" mat-button class="btn-primary rounded m-3 text-floral-white bottom-right std-btn" [disabled]="viewAppForm.invalid">Save Changes</button>
            <!-- <button mat-button class="btn-danger m-3 text-floral-white bottom-right">Reset</button> -->
        </form>
    </div>
    <!-- </div> -->
</div>