
<a class="btn btn-primary ml-3 mt-3"  (click)="goBack()">&lt;&lt;Back</a>
<div class="card border shadow-lg container" name="main-card" *ngIf="user"> 

    <div class="center">

        <h1 class="text-center" *ngIf="user" class=" my-4 card-title" >
            View User Profile: View {{user.name}}'s Profile
            <span class="flex-spacer"></span>
        </h1>
        <br>
        <hr>
        <br>
        <!--p>{{ user | json }}</p>
            for debugging-->

        <form *ngIf="userForm" novalidate [formGroup]="userForm" (ngSubmit)="saveChanges()">
          <div formGroupName="userData">


                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Name: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="name" type="text" class=" form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].name.hasError('required') && userForm.get('userData')['controls'].name.touched">Name is required</mat-error>

                </div>
                </div>


                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Email: </p>
                    </div>
                    <div class="col-sm text-center">
                      <input disabled formControlName="email" type="email" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].email.hasError('required') && userForm.get('userData')['controls'].email.touched">Please Enter Valid Email</mat-error>
                    </div>
                   </div>
                   

                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Mobile: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="mobile" type="text" maxlength="13" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].mobile.hasError('required') && userForm.get('userData')['controls'].mobile.touched">Please enter Mobile Number</mat-error>
                  </div>
                </div>


                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Birth Date: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="birthDate" type="date" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].birthDate.hasError('required') && userForm.get('userData')['controls'].birthDate.touched">Birth Date is required</mat-error>
                  </div>
                </div>
                

                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>University: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="university" type="text" maxlength="40" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].university.hasError('required') && userForm.get('userData')['controls'].university.touched">University is required</mat-error>
                  </div>
                </div>

                

                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Faculty: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="faculty" type="text" maxlength="50" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].faculty.hasError('required') && userForm.get('userData')['controls'].faculty.touched">Faculty is required</mat-error>
                  </div>
                </div>


                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Department: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="department" type="text" maxlength="40" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].department.hasError('required') && userForm.get('userData')['controls'].department.touched">Department is required</mat-error>
                  </div>
                </div>

                

                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>College ID: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input formControlName="collegeId" type="text" maxlength="10" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].collegeId.hasError('required') && userForm.get('userData')['controls'].collegeId.touched">College ID is required</mat-error>
                  </div>
                </div>

                

                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Emergency Contact Name: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="emergencyContact_name" type="text" maxlength="40" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].emergencyContact_name.hasError('required') && userForm.get('userData')['controls'].emergencyContact_name.touched">Please Enter your Emergency Contact Name</mat-error>
                  </div>
                </div>

                

                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Emergency Contact Relation: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="emergencyContact_relation" type="text" maxlength="40" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].emergencyContact_relation.hasError('required') && userForm.get('userData')['controls'].emergencyContact_relation.touched">Please Enter the relation of your Emergency Contact </mat-error>
                  </div>
                </div>



                <div class="row mb-2">
                  <div class="col-sm ">
                    <p>Emergency Contact Mobile: </p>
                  </div>
                  <div class="col-sm text-center">
                    <input  formControlName="emergencyContact_mobile" type="text" maxlength="13" class="form-control" />
                    <mat-error *ngIf="userForm.get('userData')['controls'].emergencyContact_mobile.hasError('required') && userForm.get('userData')['controls'].emergencyContact_mobile.touched">Please Enter your Emergency Contact Mobile Number</mat-error>
                  </div>
                </div>

            </div>


            <br>
            <hr>
            <br>

            

            <!-- <div class="form-check">
            </div> formControlName="teamMember"-->
            <mat-slide-toggle class="form-check-input"  [checked]="isMember" 
              (change)="isMember = $event.source.checked"
              style="margin-left: 30px;">Member</mat-slide-toggle>

            
            <br>
            <br>
            <br>

            <div formGroupName="memberData" *ngIf="isMember">
              
              
            <div class="container" *ngIf="userForm.get('memberData')" style="margin-left: 30px;">
                
              <mat-slide-toggle class="form-check-input" formControlName="head"
                [checked]="userForm.get('memberData').head" 
                (change)="userForm.get('memberData').head = $event.source.checked">Head</mat-slide-toggle>
                
                <br>
                <br>
                <br>

                

                <label>Team</label><br>
                <mat-select formControlName="team" (selectionChange)="updateSub()" style="width: 70%;">
                  <!-- *ngIf="userForm.get('memberData')['controls'].team" -->
                    <mat-option selected disabled [value]="currentTeam">
                        {{currentTeam}}
                    </mat-option>

                    <mat-option *ngFor="let t of allTeams" [value]="t._id">
                        {{ t.name }}
                    </mat-option>
                </mat-select>
                <br>
                <br>

                <br>

                <label>Subteam</label><br>
                <mat-select *ngIf="userForm.get('memberData')['controls'].team" formControlName="subteam" style="width: 70%;">

                    <mat-option selected disabled [value]="currentSub">{{currentSub}}</mat-option>
                    <mat-option *ngFor="let sub of availableSubs" [value]="sub._id">
                        {{ sub.name }}
                    </mat-option>
                </mat-select>

      


            </div>

            </div>

            <br>
            <hr>
            <br>
            <span class="flex-spacer"></span>
            <button mat-button type="submit" mat-button 
              class="btn-primary rounded m-3 text-floral-white bottom-right std-btn" 
              [disabled]="userForm.invalid">Save Changes</button>
            <!-- <button mat-button class="btn-danger m-3 text-floral-white bottom-right">Reset</button> -->
        </form>
    </div>
    <!-- </div> -->
</div>
