.vertical-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  
    /*small Screens*/
img {

  height: auto; 
  width: 100%;

}
.customWidth{
  width: 100%;
}
.fixHightInSmall{
  height: 100% !important;
}

                  /*At Large Screens*/
@media only screen and (min-width: 550px) {
  img {
      height: 100%; 
      width: auto;
  }
  .customWidth{
    width: 75%;
  }
}

