<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div [hidden]="isLoading">
    <app-header [isAdminMode]="isAdminMode" [isAuthorized]="isAuthorized" (isLoading)="toggleLoading($event)">
    </app-header>
    <app-error-modal></app-error-modal>
    <router-outlet></router-outlet>
    <!-- PLEASE DO NOT COMMENT OUT THE ADMIN PANEL. IF YOU WANT TO HIDE IT, GO TO THE ts FILE AND SET isAdminMode TO FALSE -->
    <app-admin-panel [isAdminMode]="isAdminMode"></app-admin-panel>

    <app-footer></app-footer>
</div>