<!-- Competition Name and the Logo -->
<div class="row py-5">
    <div class="col-12 py-5">
        <img class="bg-light p-1 rounded" src="assets/img/Shell.png" height="100px" width="100px"
            alt="Competion Logo">
        <h3 class="d-inline-block ml-5 text-light align-middle">Shell</h3>
        <hr>
    </div>
</div>

<!-- Paragraphs -->
<app-competition-paragraph [paragraph]="
{
    info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur, enim a rutrum interdum, odio ante efficitur augue, in euismod risus enim id nisl. Phasellus vel hendrerit odio. Nam ac pellentesque tellus. Donec bibendum blandit dui, a fringilla lorem semper at. Aliquam erat volutpat. Duis id lorem nunc. Nulla lacinia eu dui non imperdiet. In finibus convallis feugiat. In metus metus, suscipit pellentesque lorem quis, lobortis egestas arcu. Curabitur id nunc accumsan, scelerisque nunc nec, tincidunt ex. In cursus dolor vel orci bibendum commodo.',
    image:'assets/img/alumisr.png'
}"
></app-competition-paragraph>

<app-competition-paragraph [inverted]="true" [paragraph]="
{
    info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper ligula in quam iaculis, vel euismod nulla elementum. Nunc vitae arcu pellentesque, tincidunt ex vitae, lacinia justo. Fusce eu dolor nisl. Mauris ac fermentum est. Mauris et tellus dapibus, dictum arcu quis, pellentesque quam. Sed quis lorem in diam sollicitudin fringilla. Aenean efficitur cursus elit in hendrerit. Duis vel odio pellentesque, molestie lectus ut, porta elit. Pellentesque mi lorem, condimentum quis porta nec, malesuada in nibh. Maecenas sed ornare ipsum, vel mattis risus. Donec sollicitudin, metus quis consequat porttitor, ante massa volutpat turpis, ac commodo dui diam sit amet justo. Etiam aliquet vulputate aliquet.',
    image:'assets/img/image2.jpg'
}"
></app-competition-paragraph>

<app-competition-paragraph [paragraph]="
{
    info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur, enim a rutrum interdum, odio ante efficitur augue, in euismod risus enim id nisl. Phasellus vel hendrerit odio. Nam ac pellentesque tellus. Donec bibendum blandit dui, a fringilla lorem semper at. Aliquam erat volutpat. Duis id lorem nunc. Nulla lacinia eu dui non imperdiet. In finibus convallis feugiat. In metus metus, suscipit pellentesque lorem quis, lobortis egestas arcu. Curabitur id nunc accumsan, scelerisque nunc nec, tincidunt ex. In cursus dolor vel orci bibendum commodo.',
    image:'assets/img/image3.jpg'
}"
></app-competition-paragraph>

<!-- photo Roll -->
<app-photo-roll></app-photo-roll>

<!-- awards -->
<app-competition-awards [competitionName]="'shell'"></app-competition-awards>