<div class="card border shadow-lg container" style="width: 60%; align-self: center;" name="main-card">
    <div class="col-sm-8"><h1 class="card-title">Admin Events Comp.</h1></div>
    <div class="row" style="float: right;">
        <div class="col-sm-4">
            <button class="btn btn-outline-success std-btn"
                    [routerLink]="['/manage-interviews']">
                    Manage Interviews</button>
        </div>
        <div class="col-sm-4">
            <button class="btn-outline-primary btn std-btn" [routerLink]="['/event/new']">Start New Event!</button>
        </div>
    </div>
    <hr>
    <div *ngFor="let event of allEvents" class="card col-sm-12 shadow " name="event-card">
        <div class="row">
            <div class="col">
                <h2>{{event.team.name}} recruitment</h2>
                <p>{{ event.season }} Season</p>
            </div>
            <div class="col">
                <button *ngIf="!event.eventActive" class="btn-success bottom-right" (click)="onStatusClick(event._id)">Activate</button>
                <button *ngIf="event.eventActive" class="btn-danger bottom-right" (click)="onStatusClick(event._id)">Deactivate</button>
            </div>
        </div>
        <hr>
        <div class="row" >
            <div class="col">
                <p class="text-primary" style="margin: 6px; width:90%;">Current number of Applicants: {{event.numApplicants}}</p>
                <button class="btn btn-dark" (click)="getExcel(event._id, event.team.name)" style="margin: 6px; width:90%;">Get Excel File</button>
                <button class="btn btn-outline-primary" style="margin: 6px; width:90%;"
                    [routerLink]="['/view-applications', event._id]">
                    View all received applications</button>
                
            </div>
            <div class="col">
                <p class="text-success" style="margin: 6px; width:90%;">Number of Accepted Applicants: {{ event.numAccepted }}</p>
                <p class="text-success" style="margin: 6px; width:90%;">Number of Applicants Pending Acceptance: {{ event.numPendAcc }}</p>
                <button class="btn btn-outline-warning" [routerLink]="['/application/set-questions']" 
                    [queryParams]="{ eventId: event._id }" style="margin: 10px; width:90%;">Edit Application</button>
            </div>
            <div class="col">
                <p class="text-danger" style="margin: 6px; width:90%;">Number of Rejected Applicants: {{ event.numRejected }}</p>
                <p class="text-danger" style="margin: 6px; width:90%;">Number of Applicants Pending Rejection: {{ event.numPendRej }}</p>
                
            </div>
        </div>

        <div class="row d-flex justify-content-center" style="margin: 20px;">
            <label>
                <p class="alert alert-warning">Send emails for current phase applications. To edit current phase please use the manage application button </p>
                <p class="alert alert-danger"> All applications with a status that is not Accepted will receive a rejection email ! 
                    Please proceed carefully this action can NOT be undone!</p>
            </label>
            <div class="col-md-4">
                <button class="btn btn-success" (click)="sendAcc(event._id, event.team.name, event.currentPhase)">Send Acceptance Emails!</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger" (click)="sendRej(event._id, event.team.name, event.currentPhase)">Send Rejection Emails!</button>
            </div>
        </div>
    </div>
</div>

