<main class="row p-5 utility-min-height" style="background-color: #b21212;">

<div class="container justify-content-center align-items-center" style="margin-left: 30%; margin-right: 30%;">

  <div class="row form-group text-light" style="margin-top: 60px; margin-bottom: 20px;"><h1>Choose competition to view</h1></div>
  <hr>

  <div class="row form-group form-check" *ngFor="let cmp of allComps; let i = index">
    <input type="checkbox" class="form-check-input"  name="{{cmp.name}}" [(ngModel)]="cmp.visible" id="{{cmp.name}}">
    <label class="form-check-label text-light" for="{{cmp.name}}">{{cmp.name}}</label>
  </div>

  <button type="submit" class=" row btn btn-success mb-3" (click)="updateComps()"
    style="margin-bottom: 50px;">Submit Changes</button>

</div>

</main>
