@import "../../../shared/fade-in.css";
.card{
    width: 18rem;
}
img{
    height: 256px;
}
hr{
    border-top: 3px solid rgba(255,255,255,.1);
    margin-bottom: 20px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*small Screens*/

img {
    height: auto;
    width: 100%;
}

.customWidth {
    width: 100%;
}

.awardsPhoto {
    height: 30vh;
}

.award-text{
    position: absolute;
    z-index: 600;
}

.heading{
    color: compColor;
}

.ph{
    margin: 0 0;
    margin-left: 0; 
    margin-right: 0;
}
/* .carousel-caption{
    position: absolute;
    margin-top: 500px;
} */


/*At Large Screens*/

@media only screen and (min-width: 500px) {
    .ph{
        margin-left: 18%; 
        margin-right: 20%;
    }
    .carousel-caption{

    }
    .heading{
        font-size: 3.2rem;
    }
    /* .ng-template{
        margin-left: 2rem;
        margin-right: 2rem;
    } */
    /* img {
        
        width: 80%;
        align-self: center;
    } */
    /* .awardsPhoto {
        height: 100vh;
    }
    .customWidth {
        width: 75%;
    }
    .award-text{
        z-index: 600;
    } */
}