<a class="btn btn-primary ml-3 mt-3"  (click)="goBack()">&lt;&lt;Back</a>
<div class="card border shadow-lg container" name="main-card">
    <h1 class="card-title">View all {{event.team.name}} Applicants</h1>
    <br>
    <hr>

    <div class="card rounded">
        <div class="row">
            <input type="text" class="form-control form-control-lg" style="height: 50px;" 
                [(ngModel)]="query" #mySearch (input)="filterItem(mySearch.value)" 
                placeholder="Search applicant name">
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <select class="custom-select form-control" [(ngModel)]="gradYr" (change)="filter()">
                    <option selected value=""> </option>
                    <option *ngFor="let yr of gradYears" value="{{yr}}">{{yr}}</option>
                  </select>
            </div>
            <div class="col-sm-4">
                <select class="custom-select form-control" [(ngModel)]="queryPhase" (change)="filter()">
                    <option selected value=""> </option>
                    <option *ngFor="let phs of phases" value="{{phs}}">{{phs}}</option>
                  </select>
            </div>
            <div class="col-sm-4">
                <select class="custom-select form-control" [(ngModel)]="queryStatus" (change)="filter()">
                    <option selected value=""> </option>
                    <option *ngFor="let st of statuses" value="{{st}}">{{st}}</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-outline-primary" (click)="assignCopy()">Refresh results</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-secondary" (click)="queryPhase = event.currentPhase; filter()">Current Event Phase</button>
            </div>
        </div>
        
    </div>

    <div class="card rounded row container">
        <div *ngFor="let app of filteredItems" class="card col-sm-12" name="user-card">
            {{app.user.name}}
            <p style="font-size:80%; margin-top:10px;">{{app.user.email}}</p>
            <button type="button" class="btn-success bottom-right" style="font-size: 70%;" [routerLink]="['/view-application', app._id]">View application</button>
        </div>

    </div>
</div>
