<div class="card border shadow-lg" name="main-card">
    <h1 class="card-title">View all Members</h1>

    <div class="card rounded shadow ">
        <input type="text" class="form-control form-control-lg" style="height: 50px;" [(ngModel)]="query">
    </div>

    <div *ngIf="allUsers">
    <!-- <div *ngFor="let user of allUsers | search:'name,email':query" class="card col-sm-12" name="user-card"> -->
    <div *ngFor="let member of allUsers; let i = index" class="card col-sm-12" name="user-card">
        <div *ngIf="member.user">   
            <h2>{{member.user.name}}</h2>
            <p style="font-size:80%">{{member.user.email}}</p>
            <!-- <span class="badge badge-primary" *ngIf="user.teamMember">TeamMember</span></p> -->
            <button class="btn-success bottom-right" style="font-size: 70%;" [routerLink]="['/view-user']" [queryParams]="{ userId: member.user._id }">View profile</button>
        </div> 
    </div>

    </div>
</div>