
#home-section {
    background-image: url("lights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
  }

  #home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    background: rgba(0, 0, 0, 0.7);

  }

   #home-section .home-inner {
    padding-top: 75px;
  }



  /* Style the form icons */
  .icon {
    padding: 10px;

    color: white;
    min-width: 50px;
    text-align: center;
  }


