<!-- <h1 class="card-title text-center">Users Events Comp.</h1> -->
<a class="btn btn-primary ml-3 mt-3"  (click)="goBack()">&lt;&lt;Back</a>
<div class="card border container" name="main-card">
    <!-- <h1 class="card-title text-center">Users Events Comp.</h1>
    <hr> -->

    <h1 class="card-title text-center">My applications</h1>
    <br>
    <div class="alert alert-warning text-center" role="alert" *ngIf="appliedTo.length == 0">
        <strong>You have no current applications!</strong> Check the available positions section for any open positions!
    </div>

    <div *ngIf="appliedTo.length > 0">
        <div *ngFor="let app of userApps">
            <div *ngIf="app.event.eventActive" class="card col-sm-12 shadow" name="event-card">

                <h2 class="card-title text-center mb-5">{{app.event.team.name}} recruitment</h2>
                <!-- <p>hailo - {{ app.currentPhase == 'DR_IV' }}</p> -->
                <div *ngIf="app.currentPhaseStatus == 'ACCEPTED' && app.currentPhase != 'DR_IV'" class="row">
                    <p style="font-size:80%"  class="text-success col">
                        <strong>Congratulations! You have passed this phase!</strong></p>
                      <div class="col text-center">
                        <button class="btn-success bottom-right"
                            [routerLink]="['/book-interview', app._id]">Book Interview</button>
                          </div>
                </div>

                <div *ngIf="app.currentPhaseStatus != 'ACCEPTED' && app.currentPhase != 'DR_IV'" class="row">
                    <p style="font-size:80%;" class="text-info col-sm-2"><strong>Pending...</strong></p>
                    <div class="col text-center">
                    <button disabled class="btn-secondary bottom-right">Book Interview</button>
                  </div>
                </div>

                <div *ngIf="app.currentPhaseStatus == 'ACCEPTED' && app.currentPhase == 'DR_IV'" class="row">
                    <p style="font-size:80%"  class="alert alert-success">
                        <strong>Congratulations! You are now a member of the ASU Racing Team!
                            Welcome to the Family!!
                        </strong></p>
                </div>

            </div>
        </div>
    </div>
</div>
<hr>
<div class="card border container" name="main-card">



    <h1 class="text-center">Available positions</h1>
    <br>
    <div class="alert alert-warning text-center" role="alert" *ngIf="didntApply.length == 0">
        <strong>We are Sorry!</strong> There are no available events at the moment!
        please check later and follow our official pages for more information about upcoming events
    </div>

    <div *ngIf="didntApply.length > 0">
        <div *ngFor="let ev of didntApply">
            <div *ngIf="ev.eventActive" class="card row shadow" name="event-card">
              <div class="row">
                 <div class="col-8 mb-2 text-center">
                    <h4 class="">{{ev.team.name}} recruitment</h4>
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-primary "
                            [routerLink]="['/application', userId, { eventId: ev._id}]">Apply!</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
