/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body, footer {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 25px;
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 100px;
}
.scroll-default::-webkit-scrollbar-thumb {
  background-color: gray;
}
.scroll-formula::-webkit-scrollbar-thumb {
  background-color: #800000;
}
.scroll-shell::-webkit-scrollbar-thumb {
  background-color: #e5ac00;
}
.scroll-rov::-webkit-scrollbar-thumb {
  background-color: #177EE5;
}
.scroll-ever::-webkit-scrollbar-thumb {
  background-color: #158000;
}
