<!-- HOME SECTION -->
<div class="container text-center min-vh-100" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="dark-overlay" *ngIf="!isLoading">
  <header id="home-section">
  <div class="home-inner container">

    <div class="card text-center card-form" style="margin: 4% 11%; background-color: #b21212; padding: 52px;">
      <h1 class="mb-4 mt-4" style="color: white;">Complete your profile!</h1>
      <hr>
      
      <form #profileForm = "ngForm" (ngSubmit)="onSubmit(profileForm)">

        <div class="row"><p style="color: white; font-size: 130%;">Full Name</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Name" name="email">
        </div>

        
      </form>
    </div>
      
<!-- 
        <div class="col-lg-8">
          <div class="card text-center card-form" style="background-color: #b21212">
            <div class="card-body">
              <h1 class="mb-4 mt-4" style="color: white;">Complete your profile!</h1>

<br>
              <form #profileForm = "ngForm" (ngSubmit)="onSubmit(profileForm)">


                <div class="row input-group-text" style="margin-left: 30px;">
                  
                </div>
              


                <div class="form-group">
                  <h4 style="color: white;">bla bla</h4>
                  <span class="input-group-text">
                  <input type="password" class="form-control form-control-lg ml-4" placeholder="password"
                          name="password" ngModel required minlength="6"></span>
                </div>

                <button type="submit" class="btn btn-outline-dark btn-block mt-4 mb-4"
                        [disabled]="!signInForm.valid" style="color: white;">Submit</button>
              </form>

            </div>
          </div>
        </div>-->
      
  </div>
  </header>
</div>