<!-- HOME SECTION -->
<div class="container text-center min-vh-100" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="dark-overlay" *ngIf="!isLoading">
  <header id="home-section">
  <div class="home-inner container" style="padding: 50px;">

    <div class="card text-center card-form" style="margin: 4% 11%; background-color: #b21212; padding: 52px;">
      <h1 class="mb-4 mt-4" style="color: white;">Complete your profile!</h1>
      <hr>
      
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">

        <div class="row"><p style="color: white; font-size: 130%;">Full Name</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Name" formControlName="name">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Mobile</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Mobile" formControlName="mobile">
          <label style="color: white;">Please do not add the country code</label>
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Gender</p></div>
        <select class="custom-select" formControlName="gender">
          <option selected disabled>Choose Gender</option>
          <option value="MALE">male</option>
          <option value="FEMALE">female</option>
        </select>
        <br>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Birthdate</p></div>
        <div class="input-group rounded" style="background-color: white;">
          <input class="form-control" placeholder="yyyy-mm-dd" style="margin: 5px 5px; width: 50%;"
                 name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="birthDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>

        <br>

        <hr>
        <div class="row"><p style="color: white; font-size: 130%;">University</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="University" formControlName="university">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Faculty</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Faculty" formControlName="faculty">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Department</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Department" formControlName="department">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Graduation Year</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Graduation Year" formControlName="gradYear">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Credit</p></div>
        <select class="custom-select" formControlName="credit">
          <option selected disabled>Choose Gender</option>
          <option value="CREDIT">Credit</option>
          <option value="MAINSTREAM">Mainstream</option>
          <option value="NA">NA</option>
        </select>
        <br>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">College ID</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="College ID" formControlName="collegeId">
        </div>
        <br>

        <hr>

        <div class="row"><p style="color: white; font-size: 130%;">Emergency Contact Name</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Emergency Contact Name" formControlName="emrgName">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Emergency Contact Relation</p></div>
        <div class="row">
          <input type="text" class="form-control form-control-lg" placeholder="Emergency Contact Relation" formControlName="emrgRelation">
        </div>
        <br>

        <div class="row"><p style="color: white; font-size: 130%;">Emergency Contact Mobile</p></div>
        <div class="row">
          <input type="tel" class="form-control form-control-lg" placeholder="Emergency Contact Mobile" formControlName="emrgMobile">
          <label style="color: white;">Please do not add the country code</label>
        </div>
        
        <br>


        <hr>
        <button type="submit" class="btn btn-outline-dark btn-block mt-4 mb-4"
                        
                        style="color: white; border-color: white;">Submit</button>
                        <!-- [disabled]="!profileForm.valid"  -->
      </form>
    </div>
    
      
  </div>
  </header>
</div>