body
{
    background-color: rgb(218, 247, 218);
}

.partners
{
    color: #B21212;
}

.card
{
    width: 70%;
    height: auto;
    margin: auto;
    transform: skewX(-20deg);
    background-color: rgb(238, 244, 247);
}

.spons_desc
{
    transform: skewX(20deg);
    width: 90%;
}

.spons_img
{
    transform: skewX(20deg);
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10%;
}

.spons_img img
{
    margin: 0 auto;
    padding: 17%;
    height: 100%;
    width: 100%;
}