.bg-dark{
    box-shadow: 0 2em 4em rgba(0, 0, 0, 0.4); 
    background-color:black;
}
.partners
{
    color: #B21212;
}

.card
{
    width: 60%;
    height: auto;
    margin: auto;
    transform: skewX(-10deg);
    background-color: rgb(238, 244, 247);
}

.spons_img
{
    transform: skewX(10deg);
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;

}

.spons_img img
{
    margin: 0 auto;
    padding: 17%;
    height: 100%;
    width: 100%;
}