<!-- <main style="background-color: #f0f0f0;"> -->
<main>


    <!-- Competition Name and the Logo -->
    <div class="container">
        <div class="row py-2">
            <div class="col-12 centered">
                <img class="p-1 rounded margin text-center center" src="assets/img/ROV.png" height="160px" width="160px"
                alt="Competion Logo">
                <h3 class="d-inline-block   rov align-middle text-center" style="font-size: 3.5rem; margin-left: 5.7rem;">ROV</h3>
                <hr>
            </div>


    </div>
  </div>

    <div class="container mb-4">
        <div class="row py-2">
            <div class="col-sm-6 col-12 ">
                <img class="w-100 text-center center img-border" src="assets/img/IT (3)/ROV/(1).JPG" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break  paragraph">The Mate ROV competition is designed to be educational and inspiration event for students, it challenges them to think of themselves as entrepreneurs and transform their teams into companies that manufacture, market, and sell "products". </p>
            </div>
        </div>
    </div>

    <app-photo-roll  *ngIf="photorollId" [photorollId]=photorollId></app-photo-roll>

    <div class="container mb-4">
        <div class="row py-5">
            <div class="col-sm-6 col-12">
                <p class="text-break  paragraph">ROVs can be described as underwater robots, Their performance underwater depends on hydrodynamic behaviour and naval architecture principles.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100 text-center center img-border" src="assets/img/IT (3)/ROV/2.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div>


    <div class="container mb-4">
        <div class="row py-2">
            <div class="col-sm-6 col-12 ">
                <img class="w-100 text-center center img-border" src="assets/img/IT (3)/ROV/3.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break  paragraph">The competition has three stages, a local one in Cairo which qualifies competitors to the regional competition, ROV Arab in Alexandria, and then the third stage in NASA USA.
                  Students are challenged to complete various tasks underwater with their ROV being controlled by one of them.</p>
            </div>
        </div>
    </div>

    <div *ngIf="awards">
        <app-competition-awards [compColor]=competitionColor [awards]=awards></app-competition-awards>
    </div>


</main>
