<!-- <main style="background-color: #f0f0f0;"> -->
<main>


    <!-- Competition Name and the Logo -->
    <div class="container">
        <div class="row py-5">
            <div class="col-12 py-5">
                <img class="bg-light p-1 rounded" src="assets/img/ROV.png" height="160px" width="160px"
                alt="Competion Logo">
                <h3 class="d-inline-block ml-5 rov align-middle" style="font-size: 3.5rem;">ROV</h3>
                <hr>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/IT (3)/ROV/(1).JPG" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">The Mate ROV competition is designed to be educational and inspiration event for students, It challenge them to think of themselves as entrepreneurs and transform their teams into companies that manufacture, market, and sell "products". </p>
            </div>
        </div>
    </div>


    <app-photo-roll *ngIf="photorollId" [photorollId]=photorollId></app-photo-roll>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">ROVs can be described as underwater robots, Their performance underwater depends on hydrodynamic behaviour and naval architecture principles.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/IT (3)/ROV/2.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div>


    <div *ngIf="awards">
        <app-competition-awards [compColor]=competitionColor [awards]=awards></app-competition-awards>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/IT (3)/ROV/3.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">The competition has three stages, a local one in Cairo which qualifies competitors to the regional competition, ROV Arab in Alexandria, and then the third stage in NASA USA.
                  Students are challenged to complete various tasks underwater with their ROV being controlled by one of them.</p>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 col-12">
                <p class="text-break text-justify paragraph">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 col-12 ">
                <img class="w-100" src="assets/img/image1.jpg" alt="Competition Photo" style="border: #800000;">
            </div>
        </div>
    </div> -->

</main>
